:root {
    --main-color: #6ca4c8 ;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.sidebar {
    width: 75px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #6ca4c8 ;

}

.sidebar li{
    padding-left: 1rem;
}

.sidebar li a{
    padding-left: 0rem;
}

.sidebar li span:last-child{
    display: none;
}

.sidebar-menu {
    margin-top: 7rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
}

.sidebar-menu a {
    display: block;
    color: #fff;
    font-size: 1.21rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:  #6ca4c8 ;
    border-radius: 30px 0 0 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}


#nav-toggle:checked + .sidebar{
    width: 200px;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 200px);
    left: 200px;
}

#nav-toggle:checked ~ .main-content #utama{
    grid-template-columns: 50% auto;
}

#nav-toggle:checked ~.sidebar li span:last-child{
    display:unset;
}

.main-content {
    margin-left: 75px;
}

.main-content header {
    width: calc(100% - 75px);
    left: 75px;
}

#utama{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 55% auto;
    
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

header h2{
    justify-content: center;
    margin-inline-start: 2px;
    margin-block-start: 7px;
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}


.search-wrapper {
    border: 1px solid #cdcdcd;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
input{
    background-color: #fff;
}

.quest-wrapper{
    background-color: #f6fcff;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.quest-wrapper input{
    height: 50%;
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
    margin: 1px 10px 0;
    border-radius: 5px;
}

.quest-wrapper span{
    display: flex;
    padding: 0.5rem 1rem;
    width:55px;
    border-radius: 5px;
    margin: 1px, 5px;
    font-size: 1.5rem;
    color: white;
    background-color: #6ca4c8;
    cursor: pointer;
}


.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey, #1D2231);
}

main {
    margin-top: 70px;
    padding: 2rem 1.5rem;
    background: #f6fcff;
    min-height: calc(100vh - 90px);
}



.recent-grid {
    margin-right: 0rem;
    display: grid;
    grid-gap: 1.5rem;
    
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header, .card-body {
    padding: 0.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background-color: #6ca4c8 ;
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: #6ca4c8 ;
    cursor: pointer;
}

.card-header button:hover{
    background-color: #588dad;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.mingal-body {
    display: flex;
    flex-wrap: wrap;
}

.story .card-body{
    display: block;
}

div.gallery {
    margin: 5px;
    border: 1px;
    float: left;
    width: 100px;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}


.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.info {
    display: flex;
    align-items: center;
    margin: 10px;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4, h5 {
    font-size: .8rem;
    font-weight: 600;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey, #1D2231);
}

p {
    display: block;
    
    font-family: sans-serif;
    font-size: 0.9rem;
}

@media only screen and (max-width: 700px) {
    .cards {
        grid-template-columns: 100%;
    }

    #utama{
        grid-template-columns: 100%;
    }
}
